.category-preview {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgb(231, 247, 255);
  padding: 5px;
  border-radius: 10px;

  h1 {
    text-align: center;
  }
  button {
    width: 50px;
    margin: 0px auto;
  }
}

.category-viewer {
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    button {
      width: auto;
      text-align: center;
    }
  }

  .bp3-button-group {
    // float: right;
  }
  .category-viewer__divider {
    margin: 0 auto;
    // margin-bottom: 20px;
    width: 50%;
  }
}

.category-viewer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  min-height: 150px;
  margin: 20px 0 20px 0;

  div {
    width: 30%;
  }
}

.step-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 10px 0px;

  span {
    margin: 0px 2px;
  }
}
